/silverstripe-cache/
/.env
/vendor/
/themes/simple/
/themes/silverstripe-starter-theme/
/_resources/
/public/assets/
/public/resources/
/public/_resources/
.DS_Store
/.idea
/.cow
silverstripe.log
*.sspak
*.sql
build
/public/coverage
/public/docs
docker-compose.yml
/migration-support
/tests.sh
*.zip
/devbuild.sh
/public/_graphql
/.graphql-generated
/.phpunit.result.cache
