### SILVERSTRIPE START ###

# Deny access to templates (but allow from localhost)
<Files *.ss>
    Require ip 127.0.0.1
</Files>

# Deny access to IIS configuration
<Files web.config>
    Require all denied
</Files>

# Deny access to YAML configuration files which might include sensitive information
<Files ~ "\.ya?ml$">
    Require all denied
</Files>

### CACHING START ###
<ifModule mod_expires.c>
   ExpiresActive On
   ExpiresByType text/html "access plus 10 minutes"
   ### IMAGES/FLASH/AUDIO/VIDEO 1 DAY ###
   ExpiresByType image/x-icon A86400
   ExpiresByType image/jpeg A86400
   ExpiresByType image/jpg A86400
   ExpiresByType image/png A86400
   ExpiresByType image/gif A86400
   ExpiresByType image/svg+xml A86400
   ExpiresByType application/x-shockwave-flash A86400
   ExpiresByType video/mp4 A86400
   ExpiresByType video/quicktime A86400
   ExpiresByType video/x-f4v A86400
   ExpiresByType audio/mpeg A86400
   ExpiresByType audio/x-aac A86400
   ExpiresByType audio/mp4 A86400
   ### CSS/JS 1 DAY ###
   ExpiresByType text/css A86400
   ExpiresByType text/javascript A86400
   ExpiresByType application/javascript A86400
   ExpiresByType application/x-javascript A86400
</ifModule>
<ifModule mod_headers.c>
   <filesMatch "\.(ico|jpe?g|png|gif|swf|flv|mp4|mov|f4v|mp3|aac|m4a)$">
      Header set Cache-Control "max-age=86400, public"
   </filesMatch>
   <filesMatch "\.(css)$">
      Header set Cache-Control "max-age=86400, public"
   </filesMatch>
   <filesMatch "\.(js)$">
      Header set Cache-Control "max-age=86400, public"
   </filesMatch>
   <filesMatch "\.(woff|woff2|eot|ttf|otf|svg)$">
      Header set Cache-Control "max-age=86400, public"
   </filesMatch>
</ifModule>
### CACHING END ###

# Route errors to static pages automatically generated by SilverStripe
ErrorDocument 404 /assets/error-404.html
ErrorDocument 500 /assets/error-500.html

<IfModule mod_rewrite.c>

    # Turn off index.php handling requests to the homepage fixes issue in apache >=2.4
    <IfModule mod_dir.c>
        DirectoryIndex disabled
        DirectorySlash On
    </IfModule>

    SetEnv HTTP_MOD_REWRITE On
    RewriteEngine On

    # Enable HTTP Basic authentication workaround for PHP running in CGI mode
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Deny access to potentially sensitive files and folders
    RewriteRule ^vendor(/|$) - [F,L,NC]
    RewriteRule ^\.env - [F,L,NC]
    RewriteRule silverstripe-cache(/|$) - [F,L,NC]
    RewriteRule composer\.(json|lock) - [F,L,NC]
    RewriteRule (error|silverstripe|debug)\.log - [F,L,NC]

    # Process through SilverStripe if no file with the requested name exists.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* index.php
</IfModule>
### SILVERSTRIPE END ###
